section.single.content(ng-controller="RegisterCtrl")
  .mode-form(ng-show='mode=="form"')
    h1 Create a Ripple Wallet
    form(name='registerForm', ng-submit='submitForm()')
      label(for='register_username') Create Wallet Name
      input#register_username(
        name='register_username', type='text', ng-model="username",
        ng-click="showWalletTooltip=true",
        ng-blur="showWalletTooltip=false",
        required)
      div#wallet_tooltip(ng-show="showWalletTooltip") Name your wallet something memorable
      .horiz
        div
          label(for='register_password') Create Wallet Password
          input#register_password(
            name='register_password1', type='password'
            ng-model="password1",
            ng-click="showPasswordTooltip=true",
            ng-blur="showPasswordTooltip=false",
            rp-strong-password, required, rp-same-in-set="passwordSet")
        div
          label(for='register_password2') Re-Enter Password
          input#register_password2(
            name='register_password2'
            type='password'
            ng-model="password2"
            required, rp-same-in-set="passwordSet")
        div(class="strength {{strength}}")
          {{strength}}
        div#password_tooltip(ng-show="showPasswordTooltip") Please mix letters, numbers and symbols in your password.
        div#password_tooltip(ng-show="registerForm.register_password1.$error.rpSameInSet && registerForm.register_password2.$dirty") Passwords do not match
      div(ng-show="showMasterKeyInput")
        label(for='register_masterkey')
          | Secret Account Key&nbsp;
          a(ng-click="showMasterKeyInput=false;") (hide)
        input#register_masterkey(name='register_masterkey', type='text', ng-model="masterkey", rp-master-key, rp-focus)
        .errorBox(ng-show="registerForm.register_masterkey.$error.rpMasterKey")
          p.text-error Secret Account Key is invalid
      .submitsection
        button.btn.btn-info(type='submit', ng-disabled='registerForm.$invalid || disableSubmit') Create Wallet
        .storeinfo
          | Store your wallet with:&nbsp;
          br
          span(ng-hide="storeChange")
            strong {{blobBackendCollection.something.name}}&nbsp;
            a(ng-click="storeChange=true") change
          span(ng-show="storeChange", class="storeChange")
            select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
      p.literal.throw
        | Have a wallet already?&nbsp;
        a(href="javascript:void(0)", ng-click="open_wallet()") Open wallet
        br
        span(ng-hide="showMasterKeyInput")
          | Need to use your Secret Key?&nbsp;
          a(ng-click="showMasterKeyInput=true") Use Key

  group.mode-masterkeyerror(ng-show='mode=="masterkeyerror"')
    h1 Secret Account Key error
    p.literal There is a wallet with your wallet name and pass phrase, but the given Secret Account Key is not connected to it. If you decide to continue registration your new Secret Account Key will be used for current wallet name and pass phrase.
    p
      button.btn.btn-info(ng-click='mode="form"') Back
      | &nbsp;
      button.btn(ng-click='register()') Overwrite current key

  group.mode-welcome(ng-show='mode=="welcome"')
    h2 Save your secret key
    h1 Don't lose your money
    p This is for emergency account recovery. It provides anyone full access to your wallet. Save it in your best hiding spot in the world, and never give it to anyone.
    .secret
      p.key(ng-show="showSecret==true") {{keyOpen}}
      p.key(ng-hide="showSecret==true") {{key}}
      p(ng-hide="showSecret==true")
        rp-confirm(
          action-text="Are you in a safe place where no person or camera can see your screen?"
          action-button-text="Yes, show me"
          action-function="showSecret=true"
          cancel-button-text="no")
            button.btn.btn-warning Show
      p(ng-show="showSecret==true")
        button.btn.btn-warning(ng-click="showSecret=false") Hide
    .action
      a.btn.btn-info.btn-big(href='#getripple', ng-click='reset()') Yes, I saved my secret account key
